* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    background-image: linear-gradient(to top, #dafbf8, #d0faf6, #c6f8f4, #bbf7f3, #b0f5f1);
}

img {
    width: 15%;
    height: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(6, 110, 103);
}

#title a {
    color: inherit;
    text-decoration: none;
}

#title li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;

}

.mainphoto {
    width: 550px;
    height: 500px;
}

button {
    background-color: rgb(2, 57, 50);
    border: none;
    padding: 9px 25px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(214, 246, 239);
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
}

main .col {
    flex: 1;
    max-width: 50%;
}

main h1 {
    font-family: "Montserrat";
    font-size: 4rem;
    font-weight: 800;
}

main h1 span {
    color: rgb(5, 78, 78);
}

main p {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: rgb(10, 53, 53);
}

main button {
    margin-top: 20px;
}

.row {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

}

#feature .box {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#feature .box img {
    padding-top: 10px;
    width: 100px;
    height: 100px;
}

#feature .box h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    color: rgb(3, 97, 97);

}

.about {
    background: url(images/about.jpeg) no-repeat left;
    background-size: 60%;
    padding: 80px 20px;
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ddf8f5;
}

#feature {
    margin-bottom: 70px;
}

.inner-about {
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: azure;
    padding: 30px;
}

.inner-about h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.inner-about p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 1.5;
    text-align: center;
    color: #0e1313;
}

#service {
    padding-top: 40px;
    padding-bottom: 50px;
}

#service h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 30px;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

#service .box {
    position: relative;
    width: 500px;
    padding: 20px;
    background-color: rgb(226, 245, 247);
    border-radius: 10px;
}

#service .box h3 {
    padding-left: 10px;
    font-family: 'M PLUS 1p', sans-serif;
    color: #024d49;
}

#service .box p {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;

}

#service .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: rgb(4, 84, 90);
    border-radius: 10px;
}


#footer {
    background: #c4faf7;
}

.footer-box {
    width: 100%;
    padding: 30px 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.social i {
    padding: 15px;
    border-radius: 50%;
    background: #fdffff;
    margin: 15px;
    font-size: 2rem;
    color: rgb(1, 54, 54);
    opacity: 0.9;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
    color: #333;
}

.contact span {
    font-family: 'M PLUS 1p', sans-serif;
}